In [1]:
import pandas as pd

In [2]:
import numpy as np
import random
import datetime

In [3]:
sales_raw_data = pd.read_csv('../../data/DVI/Sales_table.csv')
price_raw_data = pd.read_csv('../../data/DVI/Price_table.csv')
basic_raw_data = pd.read_csv('../../data/DVI/Basic_table.csv')

In [4]:
additional_raw_data = pd.read_csv('../../data/DVI/Ad_table.csv')

C:\Users\ajayc\anaconda3\envs\thesis\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
additional_raw_data

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,Price,Seat_num,Door_num
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,6.8L,Automatic,Petrol,21500,5.0,4.0
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,6.8L,Automatic,Petrol,28750,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,6.8L,Automatic,Petrol,29999,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,6.8L,Automatic,Petrol,34948,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,6.8L,Automatic,Petrol,26555,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268250,Westfield,Sport,97_1,97_1$$1,2018,5,Yellow,2006.0,Convertible,1800,2.2L,Manual,Petrol,8750,2.0,NaN
268251,Westfield,Sport,97_1,97_1$$2,2018,5,Yellow,2006.0,Convertible,2009,NaN,Manual,NaN,7995,NaN,NaN
268252,Zenos,E10,99_1,99_1$$1,2018,3,Red,2016.0,Convertible,6,2.0L,Manual,Petrol,27950,2.0,NaN
268253,Zenos,E10,99_1,99_1$$2,2018,3,Green,2016.0,Convertible,1538,2.0L,Manual,Petrol,34950,2.0,NaN
268254,Zenos,E10,99_1,99_1$$3,2018,5,Grey,2016.0,Convertible,500,2.3L,Manual,Petrol,29995,2.0,NaN

**Add issues to dataset**

In [6]:
car_issues = ['Warning Light', 'Engine Issue', 'Steering Wheel Shaking', 'Brake Pads Worn', 'Flat Tyres', 'Tyre Alignment',
              'Alternator Failing', 'Radiator Leaking', 'Starter Motor Issue', 'Windscreen Crack', 'Excessive Emissions', 
              'Sensor Malfunction', 'Gear Box Issue', 'Transmission Issue', 'Electrical Issue']

In [7]:
issue = []
issue_id = []
for i in range(len(additional_raw_data)):
    issue_type = random.choice(car_issues)
    issue.append(issue_type)
    if issue_type == 'Warning light':
        issue_id.append(random.randint(1,8))
    elif issue_type == 'Engine Issue':
        issue_id.append(random.randint(1,4))
    elif issue_type == 'Transmission Issue':
        issue_id.append(random.randint(1,3))
    elif issue_type == 'Electrical Issue':
        issue_id.append(random.randint(1,5))
    else :
        issue_id.append(0)

In [8]:
df = pd.DataFrame(np.array([issue]).T)
df.columns = ['issue']
df1 = pd.DataFrame(np.array([issue_id]).T)
df1.columns = ['issue_id']

In [9]:
data = pd.concat([additional_raw_data, df, df1], axis=1)

**Add breakdown date to dataset**

In [10]:
day = []
for i in range(len(additional_raw_data)):
    day.append(random.randint(1,28))

In [11]:
df2 = pd.DataFrame(np.array([day]).T)
df2.columns = ['Adv_day']

In [12]:
data = pd.concat([data, df2], axis=1)

In [13]:
buy_date = []
for i in range(len(data)):
    day = data['Adv_day'][i]
    month = data['Adv_month'][i] 
    if month > 12:
        month = 12
    else:
        month = month    
    year = data['Adv_year'][i]
    d = datetime.datetime(year, month, day)
    buy_date.append(d)

In [14]:
df3 = pd.DataFrame(np.array([buy_date]).T)
df3.columns = ['breakdown_date']

In [15]:
data = pd.concat([data, df3], axis=1)

**Add complexity of Car repair according to Company**

In [16]:
np.unique(data['Maker'])

array(['Abarth', 'Alfa Romeo', 'Aston Martin', 'Audi', 'BMW', 'Bentley',
       'Brooke', 'Bugatti', 'Cadillac', 'Caterham', 'Chevrolet',
       'Chrysler', 'Citroen', 'Corvette', 'DAX', 'DS', 'Dacia', 'Daewoo',
       'Daihatsu', 'Daimler', 'Dodge', 'Ferrari', 'Fiat', 'Ford', 'GMC',
       'Ginetta', 'Great Wall', 'Grinnall', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Jensen', 'KTM', 'Kia',
       'Koenigsegg', 'Lamborghini', 'Land Rover', 'Lexus', 'Lincoln',
       'London Taxis International', 'Lotus', 'MEV', 'MG', 'MINI',
       'Maserati', 'Maybach', 'Mazda', 'McLaren', 'Mercedes-Benz',
       'Mitsubishi', 'Morgan', 'Nissan', 'Noble', 'Opel', 'Pagani',
       'Perodua', 'Peugeot', 'Pilgrim', 'Porsche', 'Proton', 'Radical',
       'Raw', 'Renault', 'Reva', 'Rolls-Royce', 'Rover', 'SEAT', 'SKODA',
       'Saab', 'Santana', 'Sebring', 'Smart', 'Ssangyong', 'Subaru',
       'Suzuki', 'TVR', 'Tesla', 'Tiger', 'Toyota', 'Vauxhall',
       'Volkswagen', 'Volvo', 'Westfield', 'Zenos'], dtype=object)

In [17]:
repair_complexity = []
count = 0
for i in range(len(data)):
    maker = data['Maker'][i]
    if maker in ('Audi', 'BMW', 'Chevrolet', 'Dacia', 'Daewoo', 'Daimler', 'Fiat', 'Ford', 'GMC', 'Honda', 'Hyundai', 'Jeep',
                 'Kia', 'Lexus', 'Mazda', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel', 'Peugeot', 'Renault', 'SKODA','Santana',
                 'Smart', 'Suzuki', 'Toyota', 'Vauxhall', 'Volkswagen'):
        repair_complexity.append(1)
    elif maker in ('Alfa Romeo', 'Aston Martin', 'Bentley', 'Cadillac', 'Chrysler', 'Daihatsu', 'Ferrari', 'Jaguar', 
                   'KTM', 'Land Rover', 'Lincoln', 'Lotus', 'McLaren', 'Porsche', 'Rolls-Royce', 'Rover', 'Subaru', 'Volvo'):
        repair_complexity.append(3)
    elif maker in ('Corvette', 'Buggati', 'Dodge', 'Hummer', 'Lamborghini', 'Maserati', 'Maybach', 'Pagani', 'Tesla'):
        repair_complexity.append(4)
    else:
        repair_complexity.append(2)

In [18]:
df4 = pd.DataFrame(np.array([repair_complexity]).T)
df4.columns = ['repair_complexity']

In [19]:
data = pd.concat([data, df4], axis=1)

In [20]:
#Some price values have string values as 'Uknown', converting them to Nan
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

**Add repair hous and repair cost based on complexity**
\
*Every 10th row has anomalous price and every 20th row has anomalous working hours*

In [21]:
def add_hours_and_cost(data):
    repair_hours = []
    repair_cost = []
    label = []
    issue = data['issue']
    issue_id = data['issue_id']
    price = data['Price']
    complexity = data['repair_complexity']
    count = 0
    for i in range(len(data)):
        count += 1
        if issue[i] == 'Steering Wheel Shaking':
            hour = complexity[i]*1
            cost = hour * 20 + price[i]*0.001
        elif issue[i] == 'Brake Pads Worn':
            hour = complexity[i]*2
            cost = hour * 20 + price[i]*0.0005
        elif issue[i] == 'Flat Tyres':
            hour = complexity[i]*1
            cost = hour * 20 + price[i]*0.0003
        elif issue[i] == 'Tyre Alignment':
            hour = complexity[i]*0.5
            cost = hour * 20 + price[i]*0.0001
        elif issue[i] == 'Alternator Failing':
            hour = complexity[i]*2
            cost = hour * 20 + price[i]*0.02
        elif issue[i] == 'Radiator Leaking':
            hour = complexity[i]*2
            cost = hour * 20 + price[i]*0.02
        elif issue[i] == 'Starter Motor Issue':
            hour = complexity[i]*3
            cost = hour * 20 + price[i]*0.01
        elif issue[i] == 'Windscreen Crack':
            hour = complexity[i]*1
            cost = hour * 20 + price[i]*0.0006
        elif issue[i] == 'Excessive Emissions':
            hour = complexity[i]*1
            cost = hour * 20 + price[i]*0.0009
        elif issue[i] == 'Sensor Malfunction':
            hour = complexity[i]*3
            cost = hour * 20 + price[i]*0.05
        elif issue[i] == 'Gear Box Issue':
            hour = complexity[i]*2
            cost = hour * 20 + price[i]*0.01
        elif issue[i] == 'Warning Light':
            if issue_id[i] == 1:
                hour = complexity[i]*1
                cost = hour * 20 + price[i]*0.001
            elif issue_id[i] == 2:
                hour = complexity[i]*0.5
                cost = hour * 20 + price[i]*0.005
            elif issue_id[i] == 3:
                hour = complexity[i]*2
                cost = hour * 20 + price[i]*0.003
            elif issue_id[i] == 4:
                hour = complexity[i]*5
                cost = hour * 20 + price[i]*0.005
            elif issue_id[i] == 5:
                hour = complexity[i]*3
                cost = hour * 20 + price[i]*0.004
            elif issue_id[i] == 6:
                hour = complexity[i]*2
                cost = hour * 20 + price[i]*0.002
            elif issue_id[i] == 7:
                hour = complexity[i]*1
                cost = hour * 20 + price[i]*0.004
            else:
                hour = complexity[i]*9
                cost = hour * 20 + price[i]*0.01
        elif issue[i] == 'Electrical Issue':
            if issue_id[i] == 1:
                hour = complexity[i]*2
                cost = hour * 20 + price[i]*0.001
            elif issue_id[i] == 2:
                hour = complexity[i]*0.5
                cost = hour * 20 + price[i]*0.002
            elif issue_id[i] == 3:
                hour = complexity[i]*1
                cost = hour * 20 + price[i]*0.005
            elif issue_id[i] == 4:
                hour = complexity[i]*2
                cost = hour * 20 + price[i]*0.003
            else:
                hour = complexity[i]*3
                cost = hour * 20 + price[i]*0.001
        elif issue[i] == 'Engine Issue':
            if issue_id[i] == 1:
                hour = complexity[i]*8
                cost = hour * 20 + price[i]*0.2
            elif issue_id[i] == 2:
                hour = complexity[i]*16
                cost = hour * 20 + price[i]*0.15
            elif issue_id[i] == 3:
                hour = complexity[i]*12
                cost = hour * 20 + price[i]*0.1
            else:
                hour = complexity[i]*10
                cost = hour * 20 + price[i]*0.05
        else:
            if issue_id[i] == 1:
                hour = complexity[i]*4
                cost = hour * 20 + price[i]*0.003
            elif issue_id[i] == 2:
                hour = complexity[i]*3
                cost = hour * 20 + price[i]*0.007
            else:
                hour = complexity[i]*8
                cost = hour * 20 + price[i]*0.009
        if count % 10 == 0:
            repair_cost.append(cost*random.uniform(3,6))
            label.append(1)
        else:
            repair_cost.append(cost)
            label.append(0)
        if count % 20 == 0:
            repair_hours.append(cost*random.uniform(3,4))
            
        else:            
            repair_hours.append(hour)
            
    df = pd.DataFrame(np.array([repair_cost]).T)
    df.columns = ['repair_cost']
    df1 = pd.DataFrame(np.array([repair_hours]).T)
    df1.columns = ['repair_hours']
    df2 = pd.DataFrame(np.array([label]).T)
    df2.columns = ['Label']
    data = pd.concat([data, df, df1], axis=1)
    data = pd.concat([data, df2], axis=1)
    return data

In [22]:
final_data = add_hours_and_cost(data)

In [23]:
y = final_data['Label']
count = 0
for i in y:
    if i == 1:
        count += 1
print(count)

26825

In [24]:
category_anomaly = [0 for i in range(len(final_data))]
final_data = pd.concat([final_data, pd.DataFrame(category_anomaly, columns = ["category_anomaly"])], axis = 1)

In [25]:
final_data.isna().sum()

Maker                    0
 Genmodel                0
 Genmodel_ID             0
Adv_ID                   0
Adv_year                 0
Adv_month                0
Color                21875
Reg_year                 7
Bodytype               954
Runned_Miles          1055
Engin_size            2064
Gearbox                167
Fuel_type              409
Price                 1145
Seat_num              6474
Door_num              4553
issue                    0
issue_id                 0
Adv_day                  0
breakdown_date           0
repair_complexity        0
repair_cost           1145
repair_hours            54
Label                    0
category_anomaly         0
dtype: int64

**Insert Anomalies into cells with Nan values**

In [26]:
final_data.Label = np.where(final_data.Door_num.isnull(),1, final_data.Label)
final_data.Label = np.where(final_data.repair_cost.isnull(),1, final_data.Label)
final_data.Label = np.where(final_data.repair_hours.isnull(), 1, final_data.Label)
final_data.Label = np.where(final_data.Price.isnull(), 1, final_data.Label)
final_data.Label = np.where(final_data.Seat_num.isnull(), 1, final_data.Label)
final_data.Label = np.where(final_data.Runned_Miles.isnull(),1, final_data.Label)

In [27]:
final_data.Label = np.where(final_data.Color.isnull(), 1, final_data.Label)
final_data.Label = np.where(final_data.Reg_year.isnull(), 1, final_data.Label)
final_data.Label = np.where(final_data.Bodytype.isnull(), 1, final_data.Label)
final_data.Label = np.where(final_data.Engin_size.isnull(), 1, final_data.Label)
final_data.Label = np.where(final_data.Gearbox.isnull(), 1, final_data.Label)
final_data.Label = np.where(final_data.Fuel_type.isnull(), 1, final_data.Label)

In [28]:
final_data.category_anomaly = np.where(final_data.Color.isnull(), 1, final_data.category_anomaly)
final_data.category_anomaly = np.where(final_data.Reg_year.isnull(), 1, final_data.category_anomaly)
final_data.category_anomaly = np.where(final_data.Bodytype.isnull(), 1, final_data.category_anomaly)
final_data.category_anomaly = np.where(final_data.Engin_size.isnull(), 1, final_data.category_anomaly)
final_data.category_anomaly = np.where(final_data.Gearbox.isnull(), 1, final_data.category_anomaly)
final_data.category_anomaly = np.where(final_data.Fuel_type.isnull(), 1, final_data.category_anomaly)

In [29]:
final_data['Color'].fillna(value='Gelb', inplace=True)
final_data['Reg_year'].fillna(value= 3010, inplace=True)
final_data['Bodytype'].fillna(value='Wood', inplace=True)
final_data['Engin_size'].fillna(value= '999.0L', inplace=True)
final_data['Gearbox'].fillna(value= 'Hybrid', inplace=True)
final_data['Fuel_type'].fillna(value='Hydrogen', inplace=True)
final_data['Door_num'].fillna(value= 0, inplace=True)

In [30]:
while final_data.isna().any().any() == True:
    final_data['repair_cost'].fillna(value= random.randint(-3000, -100), inplace=True, limit=1)
    final_data['repair_hours'].fillna(value= random.randint(-30,-1), inplace=True, limit=1)
    final_data['Price'].fillna(value= random.randint(-700000, 70000), inplace=True, limit=1)
    final_data['Seat_num'].fillna(value= random.randint(10,20), inplace=True, limit=1)
    final_data['Runned_Miles'].fillna(value= random.randint(-20000, -1), inplace=True, limit=1)

In [31]:
final_data.isna().any().any()

False

In [32]:
final_data.isna().sum()

Maker                0
 Genmodel            0
 Genmodel_ID         0
Adv_ID               0
Adv_year             0
Adv_month            0
Color                0
Reg_year             0
Bodytype             0
Runned_Miles         0
Engin_size           0
Gearbox              0
Fuel_type            0
Price                0
Seat_num             0
Door_num             0
issue                0
issue_id             0
Adv_day              0
breakdown_date       0
repair_complexity    0
repair_cost          0
repair_hours         0
Label                0
category_anomaly     0
dtype: int64

**Add date of repair according to working hours**

In [33]:
number_of_days = list(final_data['repair_hours']/4)
number_of_days = list(map(int, number_of_days))

In [34]:
i = 0
for d in iter(number_of_days):
    if d > 30:
        number_of_days[i] = d % 30
    else:
        number_of_days[i] = d
    i += 1

In [35]:
number_of_days

[2,
 1,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 1,
 1,
 0,
 2,
 0,
 3,
 15,
 0,
 3,
 0,
 6,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 2,
 0,
 1,
 17,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 1,
 1,
 7,
 2,
 2,
 2,
 0,
 2,
 1,
 0,
 0,
 16,
 0,
 1,
 2,
 1,
 6,
 0,
 2,
 1,
 2,
 0,
 9,
 0,
 1,
 2,
 2,
 1,
 0,
 1,
 0,
 13,
 1,
 0,
 0,
 0,
 2,
 3,
 0,
 0,
 2,
 2,
 0,
 7,
 0,
 1,
 1,
 0,
 1,
 2,
 2,
 21,
 2,
 0,
 2,
 0,
 6,
 6,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 2,
 29,
 6,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 8,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 6,
 0,
 2,
 2,
 2,
 0,
 0,
 7,
 0,
 0,
 1,
 0,
 18,
 1,
 1,
 2,
 0,
 3,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 12,
 0,
 0,
 1,
 0,
 2,
 6,
 0,
 6,
 0,
 1,
 0,
 6,
 2,
 6,
 0,
 0,
 1,
 0,
 0,
 14,
 6,
 2,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 6,
 6,
 1,
 9,
 1,
 0,
 1,
 26,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 2,
 0,
 0,
 1,
 12,
 2,
 1,
 0,
 0,
 0,
 2,
 21,
 2,
 1,
 1,
 0,
 1,
 0,
 6,
 1,
 12,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 9,
 2,
 7,
 29,
 0,
 0,
 7,
 3,
 0,
 6,
 2,
 0,
 0,
 2,
 2,
 3,
 3,
 2,
 2,
 6,
 3,
 0,
 0,
 11,
 9,
 1,
 0,
 6,
 6,
 0,
 0,
 2,
 1,
 1,
 0,
 1,
 3,
 1,
 0,
 3,
 1,
 1,
 0,
 24,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 6,
 1,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 3,
 3,
 1,
 0,
 1,
 0,
 1,
 6,
 3,
 1,
 0,
 0,
 0,
 3,
 1,
 2,
 1,
 0,
 1,
 0,
 1,
 5,
 6,
 0,
 0,
 0,
 0,
 9,
 6,
 6,
 1,
 12,
 0,
 1,
 1,
 3,
 0,
 6,
 1,
 1,
 1,
 6,
 9,
 1,
 0,
 1,
 0,
 1,
 1,
 6,
 0,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 2,
 14,
 0,
 6,
 2,
 1,
 1,
 0,
 6,
 6,
 3,
 1,
 1,
 1,
 2,
 0,
 6,
 0,
 6,
 2,
 0,
 21,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 3,
 0,
 2,
 2,
 12,
 1,
 1,
 1,
 6,
 0,
 6,
 0,
 1,
 1,
 6,
 12,
 2,
 0,
 1,
 1,
 2,
 2,
 0,
 2,
 9,
 1,
 1,
 1,
 1,
 1,
 2,
 28,
 6,
 0,
 1,
 6,
 6,
 6,
 1,
 1,
 1,
 6,
 6,
 2,
 2,
 6,
 1,
 2,
 0,
 1,
 0,
 20,
 0,
 0,
 1,
 0,
 9,
 2,
 0,
 2,
 0,
 0,
 3,
 1,
 6,
 1,
 2,
 6,
 0,
 0,
 2,
 25,
 6,
 0,
 1,
 2,
 1,
 1,
 6,
 0,
 0,
 2,
 0,
 1,
 2,
 0,
 1,
 6,
 1,
 0,
 6,
 14,
 6,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 6,
 0,
 2,
 2,
 6,
 6,
 1,
 7,
 1,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 2,
 0,
 3,
 1,
 2,
 1,
 1,
 0,
 2,
 1,
 2,
 7,
 1,
 6,
 2,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 0,
 1,
 2,
 3,
 0,
 6,
 0,
 0,
 1,
 16,
 2,
 1,
 0,
 2,
 0,
 2,
 1,
 7,
 9,
 7,
 3,
 0,
 12,
 6,
 0,
 6,
 7,
 0,
 0,
 1,
 0,
 1,
 1,
 2,
 6,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 12,
 2,
 1,
 0,
 0,
 12,
 0,
 8,
 1,
 1,
 0,
 1,
 6,
 6,
 0,
 0,
 6,
 0,
 3,
 2,
 7,
 3,
 2,
 1,
 1,
 6,
 2,
 18,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 6,
 0,
 6,
 3,
 2,
 0,
 1,
 1,
 2,
 2,
 1,
 3,
 4,
 1,
 0,
 3,
 9,
 0,
 1,
 0,
 1,
 0,
 0,
 6,
 1,
 6,
 0,
 12,
 0,
 2,
 1,
 0,
 7,
 0,
 0,
 12,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 12,
 2,
 0,
 6,
 0,
 2,
 0,
 1,
 0,
 12,
 0,
 2,
 1,
 0,
 2,
 2,
 1,
 1,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 1,
 3,
 6,
 2,
 1,
 0,
 1,
 0,
 7,
 0,
 2,
 2,
 2,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 2,
 7,
 1,
 2,
 2,
 1,
 1,
 0,
 9,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 6,
 0,
 2,
 24,
 0,
 0,
 2,
 0,
 7,
 0,
 0,
 0,
 1,
 6,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 21,
 0,
 1,
 0,
 0,
 7,
 2,
 2,
 6,
 2,
 0,
 2,
 0,
 6,
 6,
 6,
 0,
 2,
 2,
 0,
 27,
 2,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 12,
 0,
 1,
 6,
 2,
 1,
 7,
 4,
 0,
 1,
 0,
 2,
 0,
 2,
 0,
 2,
 1,
 2,
 1,
 0,
 0,
 1,
 6,
 0,
 0,
 3,
 1,
 28,
 1,
 3,
 1,
 0,
 2,
 12,
 0,
 0,
 6,
 0,
 2,
 6,
 6,
 6,
 6,
 2,
 1,
 0,
 1,
 26,
 6,
 6,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 6,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 4,
 1,
 2,
 1,
 6,
 7,
 2,
 12,
 7,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 6,
 2,
 0,
 6,
 1,
 1,
 1,
 0,
 7,
 12,
 3,
 0,
 2,
 0,
 2,
 0,
 0,
 6,
 0,
 1,
 0,
 0,
 0,
 15,
 2,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 2,
 6,
 1,
 0,
 0,
 1,
 1,
 1,
 6,
 2,
 11,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 9,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 3,
 4,
 1,
 12,
 3,
 2,
 1,
 1,
 0,
 0,
 9,
 0,
 1,
 3,
 1,
 6,
 1,
 1,
 0,
 1,
 1,
 8,
 1,
 6,
 0,
 0,
 2,
 9,
 1,
 9,
 2,
 6,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 13,
 6,
 0,
 2,
 1,
 0,
 0,
 1,
 2,
 6,
 9,
 9,
 1,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 7,
 ...]

In [36]:
number_of_days = [str(day) + 'D' for day in number_of_days]
#number_of_days = [day + 'D' for day in number_of_days]

In [37]:
repair_date =[]
for i in range(len(final_data)):
    repair_date.append(final_data['breakdown_date'][i] + pd.Timedelta(number_of_days[i]))

In [38]:
df5 = pd.DataFrame(np.array([repair_date]).T)
df5.columns = ['repair_date']

In [39]:
final_data = pd.concat([final_data, df5], axis=1)

In [40]:
final_data

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,...,issue,issue_id,Adv_day,breakdown_date,repair_complexity,repair_cost,repair_hours,Label,category_anomaly,repair_date
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,...,Starter Motor Issue,0,19,2018-04-19,3,395.0000,9.0,0,0,2018-04-21
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,...,Radiator Leaking,0,15,2018-06-15,3,695.0000,6.0,0,0,2018-06-16
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,...,Steering Wheel Shaking,0,10,2017-11-10,3,89.9990,3.0,0,0,2017-11-10
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,...,Electrical Issue,4,14,2018-04-14,3,224.8440,6.0,0,0,2018-04-15
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,...,Windscreen Crack,0,6,2017-11-06,3,75.9330,3.0,0,0,2017-11-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268250,Westfield,Sport,97_1,97_1$$1,2018,5,Yellow,2006.0,Convertible,1800,...,Starter Motor Issue,0,24,2018-05-24,2,207.5000,6.0,1,0,2018-05-25
268251,Westfield,Sport,97_1,97_1$$2,2018,5,Yellow,2006.0,Convertible,2009,...,Electrical Issue,5,3,2018-05-03,2,127.9950,6.0,1,1,2018-05-04
268252,Zenos,E10,99_1,99_1$$1,2018,3,Red,2016.0,Convertible,6,...,Windscreen Crack,0,14,2018-03-14,2,56.7700,2.0,1,0,2018-03-14
268253,Zenos,E10,99_1,99_1$$2,2018,3,Green,2016.0,Convertible,1538,...,Windscreen Crack,0,10,2018-03-10,2,60.9700,2.0,1,0,2018-03-10
268254,Zenos,E10,99_1,99_1$$3,2018,5,Grey,2016.0,Convertible,500,...,Excessive Emissions,0,14,2018-05-14,2,66.9955,2.0,1,0,2018-05-14

In [41]:
final_data.drop(columns=['Adv_ID'], inplace=True)

In [42]:
final_data.Runned_Miles = np.where(final_data['Runned_Miles'] == "1 mile", 1, final_data.Runned_Miles)

In [44]:
final_data.to_csv('../../data/vehicle_claims_labeled.csv', index=False)